practical/solutions.py
practical/solutions_rdms.png
practical/generate_test_data.py
assignment/models/
assignment/data/
assignment/solutions_part1.py
assignment/solutions_part1_*.png

# uv (do not ignore uv.lock -- that should be committed for reproducible installs)
.venv/
dist/